canvas {
    margin-top: 10px;
    border: rgb(20, 25, 45) solid 2px;
    height: 400px;
    background-color: rgb(20, 25, 45);
}

body {
    padding: 10px;
}

button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
}

#simplrange {
    display: table-cell;
    vertical-align: middle;
}

div {
    border: black 3px solid;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    padding: 5px;
    text-align: center;
}